services:
  inventory-service:
    build:
      context: .
      dockerfile: inventory-service/Dockerfile
    ports:
      - "8081:8081"

  order-service:
    build:
      context: .
      dockerfile: order-service/Dockerfile
    ports:
      - "8082:8082"
    depends_on:
      - inventory-service
    environment:
      - INVENTORY_BASE_URL=http://inventory-service:8081